<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <link href="../static/about.css" rel="stylesheet" />
  <div class="about-container">
    <div class="about-container1">
      <div class="about-container2">
        <button class="button about-button">Button</button>
      </div>
      <div class="about-container3">
        <h1 class="about-text">Heading</h1>
        <span class="about-text1">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            egestas et magna vitae pharetra. Vivamus in hendrerit lorem. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Maecenas egestas et magna
            vitae pharetra. Vivamus in hendrerit lorem. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
          </span>
          <br />
        </span>
      </div>
    </div>
  </div>
</div>


</body>
</html>