<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='about.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <link href="./about.css" rel="stylesheet"/>
    <div class="about-container">
        <div class="about-container1">
            <div class="about-container2">
                <a href="{{ url_for('index') }}">
                    <button class="button about-button">Back</button>
                </a>
            </div>
            <div class="about-container3">
                <div class="about-container4">
                    <h1 class="about-text">How does lens check work?</h1>
                    <span class="about-text1">

                        Lens Check is an application which makes recommendations on which type of lenses or glasses you should buy.
                        The program has learned import aspects when in comes to lenses by learning other people their experience.
                        When you answer the questioner it will compare your data to their data and a recommendation.

              <br>
              <br>
                        <b>How accurate is the prediction?</b>
                        The model, a neural network, we currently use has an accuracy of 97% on predicting the best recommendations.
                        Although this is a really high accuracy lenses are really intresult, and it sometimes just comes down to personal preference.
                        So keep in mind this is a recommendation and not leading in making your decision.
                        The image below shows the feature importance of my neural network.
          </span>
                       <img width="100%" src="../static/public/playground_assets/summary.png"/>
                </div>
                <div class="about-container5">
                    <h1 class="about-text2">Dataset</h1>
                    <span class="about-text3">
                        The original dataset consists out of the eye conditions and there preferable type of lenses or glasses.
                        The dataset was cleaned and was analyzed through.
                        The dataset had only 80 rows of data and had to be synthesized to create more instances.
                        This was done by the SDV library which increased the size to 300 hundred rows.

          </span>
                </div>
                <div class="about-container5">
                    <h1 class="about-text2">Data privacy</h1>
                    <span class="about-text3">
            Your data only exist temporary on our server and will be deleted immediately after the prediction is done.
              Furthermore, your data arrives anonymously on the server, so it can't be traced back to your name.

          </span>
                </div>
                <div class="about-container6">
                    <h1 class="about-text4">Contact us:</h1>
                    <span class="about-text5">
            If you have any questions or would like to give feedback, which I really appreciate, please email to this account: .
              <br>
              n.wijsman@student.avans.nl
              <br>
          </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>